@import "tailwindcss";

@theme {
  --animate-slide: slide 1.5s ease-in-out infinite alternate;

  @keyframes slide {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(200%); }
  }
}
